<li class="nav-item">
    <a href="/docs/3.1//components" class="nav-link">
    <i class="nav-icon fas fa-th"></i>
    <p>
    Components
    <i class="right fas fa-angle-left"></i>
    </p>
    </a>
    <ul class="nav nav-treeview">
    <li class="nav-item">
    <a href="/docs/3.1//components/main-header.html" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Main Header</p>
    </a>
    </li><li class="nav-item">
    <a href="/docs/3.1//components/main-sidebar.html" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Main Sidebar</p>
    </a>
    </li><li class="nav-item">
    <a href="/docs/3.1//components/control-sidebar.html" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Control Sidebar</p>
    </a>
    </li><li class="nav-item">
    <a href="/docs/3.1//components/cards.html" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Card</p>
    </a>
    </li><li class="nav-item">
    <a href="/docs/3.1//components/boxes.html" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Small-/ Info-Box</p>
    </a>
    </li><li class="nav-item">
    <a href="/docs/3.1//components/direct-chat.html" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Direct Chat</p>
    </a>
    </li><li class="nav-item">
    <a href="/docs/3.1//components/timeline.html" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Timeline</p>
    </a>
    </li><li class="nav-item">
    <a href="/docs/3.1//components/ribbons.html" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Ribbons</p>
    </a>
    </li><li class="nav-item">
    <a href="/docs/3.1//components/miscellaneous.html" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Miscellaneous</p>
    </a>
    </li><li class="nav-item">
    <a href="/docs/3.1//components/plugins.html" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Plugins</p>
    </a>
    </li>
    </ul>
    </li>